header {
  font-family: 'Ephesis', cursive;
  font-size: 36px;
}

/* Styling for the navigation bar
    todo: -background color
          -highlight index link
*/


.navigation {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.pictures ul {
  display: flex;
  list-style-type: none;
  width: fit-content;

}

.pics {
  width: 100%;
  height: auto;
}

.commentedpic {
  display: flex;
  list-style-type: none;
  width: fit-content;
}

.form {
  width: 50%;
}

.form fieldset{
  display: grid;

}
