/* This is my custom stylesheet for all pages on the website */

body {
  background-color: #F4F1BB;
  margin-top: 10%;
}

header {
  font-family: 'Ephesis', cursive;
  font-size: 36px;
  background-color: #f8a5c2;
  position:fixed;
  width: 100%;
  top:0;
}

/* Styling for the navigation bar
    todo: -background color OK!
          -highlight index link
          -get a pretty frame
*/

.navigation {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  /*border-width: medium;*/
    border-color: #e77f67;
}

.pictures{

    list-style-type: none;
    /*display: grid;
    grid-template: auto / 1fr 1fr 1fr;*/
    display: flex;
    justify-content: space-evenly;
    /*flex-wrap: wrap;*/
    border-width: thick;
    border-color: #A63D40;
    border-style: solid;
    border-radius: 1em;
    background-color: #A63D40;
/*  border-width: medium;
  border-color: #e77f67;*/
}

.pictures figure{
    margin: 0;
}

/*.pictures ul {
  list-style-type: none;
  display: grid;
  grid-template: auto / 1fr 1fr 1fr;
  border-width: thick;
  border-color: brown;
  border-style: solid;
  border-radius: 1em;
  clip-path: inset(0 0 0% 0);
    /*display: flex;*/
  /*width: fit-content;}*/

.pictures img{
  border-radius: 0.5em 0.5em 0.5em 0.5em;
}


.pics {
  width: 100%;
  height: 100%;
  border-radius: 0.5em 0.5em 0.5em 0.5em;
  /*flex-grow: 1;*/
  /*max-height: 100%;*/
}

/* This class styles pictures with a text next to them */

.commentedpic {
  display: flex;
  /*justify-content: space-between;*/
  /*width: fit-content;*/
  /*display: grid;
  grid-template: auto / 1fr 1fr 1fr;*/
  /*flex-wrap: wrap;*/
  border-width: thick;
  border-color: #91785D;
  border-style: solid;
  border-radius: 1em;
  background-color: #242423;
  margin: auto 2em 2em 1em;
  color: #F4F1BB;
}

.commentedpic h3{
  align-self: stretch;
}

.commentedpic ul{
  align-self: flex-end;
}

/*.commentedpic h2, p{
  float: left;
}*/

.form {
  width: 50%;
  background-color: #9ED0E6;
}

.form fieldset{
  display: grid;
  grid-gap: 1em;
  padding: 1em;
}

/*.form h2{
  color: #303952;
}*/

.gallerypics {
  column-count: 3;
  column-gap: 0.5em;
  list-style-type: none;
  width: fit-content;
  /*display: grid;
  grid-template: auto / 1fr 1fr 1fr;*/
/*  display: flex;
  justify-content: space-evenly;*/
  /*flex-wrap: wrap;*/
  border-width: thick;
  border-color: #A63D40;
  border-style: solid;
  border-radius: 1em;
  background-color: #A63D40;
}

.gallerypics figure{
  margin: 0;
}
